.settcour-container {
  border: 1px solid rgba(58, 137, 255, 1);
  border-radius: 12px;
 margin-bottom: 20px;
}

.settcour-padding {}

.settcour-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 15px;
}
.settcour-inputss  input{
  width: 98.5%;
  padding: 10px 15px;
  border: 1px solid rgba(156, 156, 156, 1);
  border-radius: 9px;
}

.settcour-title {
  flex: 0 0 49%;
}

.settcour-inputs input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(156, 156, 156, 1);
  border-radius: 9px;
}

#settcour-category,
#settcour-enrolment {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(156, 156, 156, 1);
  border-radius: 9px;
}

.settcour-desc,
.settcour-image,
.settcour-buttons {
  width: 100%;
  padding: 0px 15px 0px 0px;
}

.settcour-desc textarea {
  width: 100%;
  min-height: 120px;   /* increase height */
  padding: 10px;       /* keep placeholder at top-left */
  border-radius: 9px;
  border: 1px solid rgba(156, 156, 156, 1);
  resize: vertical;    /* allow user to resize if needed */
}


.settcour-upload-box {
  background-color: #edf0ff;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d0d7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.settcour-upload-box img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.settcour-add-course {
  border-bottom: 1px solid rgba(58, 137, 255, 1);
  width: 100%;
  padding: 15px 30px;
}

.settcour-add-course p {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 49, 123, 1);
}

.settcour-hedd {
  padding: 30px;
}

.settcour-p {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  
}

.settcour-buttons {
  display: flex;
  gap: 10px;
  text-align: center;
  padding-top: 20px;
  justify-content: flex-end;
}

.settcour-cancel button {
  color: rgba(95, 95, 95, 1);
  padding: 6px 15px;
  font-weight: 600;
  background-color: white;
  border: 1px solid rgba(95, 95, 95, 1);
}

.settcour-save button {
  border: none;
  color: white;
  font-weight: 600;
  padding: 6px 15px;
  background-color: rgba(0, 49, 123, 1);
}

input[type="file"] {
  display: none;
}
#settcour-category,
#settcour-enrolment {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(156, 156, 156, 1);
  border-radius: 9px;

  /* Hide default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom arrow */
background: white url("../images/droparrow.png") no-repeat;
  background-position: right 15px center; /* ✅ arrow moved 10px inside */
  background-size: 10px;
  padding-right: 35px; /* prevent text overlap */
}
